.slick-prev {
  z-index: 10;
  left: 0;
  height: 100%;
  width: 50px;
}

.slick-prev::before {
  color: #ddd;
}

.slick-prev:hover {
  z-index: 10;
  background-color: #eee;
  opacity: 0.5;
}

.slick-next {
  z-index: 10;
  right: 0;
  color: red;
  height: 100%;
  width: 50px;
}

.slick-next::before {
  color: #ddd;
}

.slick-next:hover {
  z-index: 10;
  background-color: #eee;
  opacity: 0.5;
}

.header {
  overflow: auto;
  /*position: fixed;
  top: 0;*/
}

.header-accent {
  height: 10px;
  background-color: #54C2E8;
  border-right: 300px solid #FFCC00;
}

.ict_title {
  float: left;
  line-height: 80px;
  font-size: 20px;
  font-family: "ProximaNovaBold", sans-serif;
  /*text-transform: uppercase;*/
  padding-left: 15px;
}

.ict_title img {
  margin-right: 10px;
}

.logo_can {
  float: right;
  padding: 15px;
}

/*.header > div {
  float: left;
  font-weight: 800;
}*/

.banner_container {
  position: relative;
}

.banner_carousel {

  background-color: white;
}

.banner {
  background-color: #ddd;
  background-image: url('../img/banner2.png');
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 80px 30px;
  box-sizing: border-box;
  /*box-shadow: 0px 2px 5px grey;*/
}

.banner_title1 {
  width: 40%;
  color: white;
  font-size: 3em;
  line-height: 0.9em;
  font-family: "ProximaNovaBold", "Arial", sans-serif;
  margin-bottom: 10px;
}

.banner_title2 {
  width: 40%;
  color: white;
  font-size: 0.8em;
  line-height: 1.2em;
  font-family: "HelveticaLt", "Arial", sans-serif;
}

.banner_buttons > div {
  margin-top: 10px;
  background-color: #FFCC00;
  padding: 15px 30px;
  text-align: center;
  color: white;
  font-family: "ProximaNovaBold", "Arial", sans-serif;
  cursor: pointer;
  float: left;
  margin-right: 10px;
}



.banner_get_quote:hover {
  background-color: #54C2E8;
}

.banner_content {
  position: absolute;
  left: 200px;
  bottom: 30px;
}

.statement {
  text-align: center;
  padding: 20px 70px;
  background-color: white;
}

.svc1 {
  background-image: url('../img/svc1.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc2 {
  background-image: url('../img/svc2.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc3 {
  background-image: url('../img/svc3.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc4 {
  background-image: url('../img/svc4.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc5 {
  background-image: url('../img/svc5.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc6 {
  background-image: url('../img/svc6.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc7 {
  background-image: url('../img/svc7.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc8 {
  background-image: url('../img/svc8.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc9 {
  background-image: url('../img/svc9.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc10 {
  background-image: url('../img/svc10.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc_logo {
  padding: 8px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 700;
}

.interlock {
  /*padding: 20px 0;*/
  overflow: auto;
  background-color: #fff;
  box-sizing: border-box;
  /*margin-bottom: 20px;*/
  /*box-shadow: 0 2px 5px grey;*/
}

.interlock_title {
  font-family: "ProximaNovaBold", sans-serif;
  text-align: center;
  padding: 15px 8px;
  color: white;
  background-color: #54C2E8;
  box-sizing: border-box;
  font-size: 1.2em;
}

.interlock_carousel {
  overflow: hidden;
  padding: 0 50px;
  box-sizing: border-box;
  outline: 0;
}

.interlock_carousel > div {
  outline: 0;
}

.interlock_description {
  text-align: center;
  padding: 20px 100px;
}

.interlock_diagram_full {
  height: 350px;
  background-image: url('../img/interlock_full.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.interlock_diagram_partial {
  height: 350px;
  background-image: url('../img/interlock_partial.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.interlock_diagram_isolation {
  height: 350px;
  background-image: url('../img/interlock_isolation.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.case_studies {
  font-family: "ProximaNovaBold", sans-serif;
  padding: 20px 0;
  text-align: center;
  overflow: auto;
  background-color: white;
}

.cs_title {
  padding: 15px;
  font-size: 1.2em;
  background-color: #54C2E8;
  color: white;
}

.cs {
  float: left;
  width: 33.33%;
  padding: 30px;
  box-sizing: border-box;
}

.cs_box {
  /*height: 250px;*/
  /*box-sizing: border-box;*/
  /*background-image: url('../img/polaroid_hololens.jpg');*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  box-shadow: 0px 2px 5px grey;
  cursor: pointer;
}

.cs_box:hover {
  box-shadow: 0px 5px 15px grey;
}

.cs_pic {
  height: 250px;
  /*background-image: url('../img/polaroid_hololens.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
}

.cs_hololens {
  height: 250px;
  background-image: url('../img/holotraining.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cs_jumpstart {
  height: 250px;
  background-image: url('../img/polaroid_jumpstart.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cs_unleashing {
  height: 250px;
  background-image: url('../img/polaroid_intrapreneur.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.cs_desc {
  padding: 20px 10px 0 10px;
  /*border: 1px solid black;*/
}

.cs_subtext {
  padding: 10px 10px 20px 10px;
  font-family: "HelveticaLt", sans-serif;
  font-size: 0.8em;
}

/** SERVICE SECTION CSS **/
.service_section_title {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  background-color: white;
  /*background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;*/
  /*padding: 20px 20px 20px 20px;*/
  padding: 20px 20px 0 20px;
  color: black;
  /*text-transform: uppercase;*/
}

.rp_item {
  width: 33.33%;
  float: left;
}

.prototypes {
  /*width: 99.99%;*/
  overflow: auto;
  background-color: white;
  /*margin: 0 20px;*/
}

.proto_container {
  box-sizing: border-box;
  /*border-radius: 5px 5px 0 0;*/
  /*border-radius: 5px;*/
  text-align: center;
  padding: 10px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.proto_container_active {
  border: none;
  box-sizing: border-box;
  text-align: center;
  background-color: #FC0;
  position: relative;
  cursor: pointer;
}

.products {
  width: 99.99%;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  overflow: auto;
  /*margin: 0 20px;*/
  background-color: white;
  min-height: 250px;
}

.product {
  float: left;
  width: 33.33%;
}

.product_container {
  box-sizing: border-box;
  min-height: 250px;
  text-align: center;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.product_ul {
  text-align: left;
}

.product_ul > li {
  margin-bottom: 5px;
}

.proto_description {
  /*padding: 8px;*/
  font-weight: bold;
}

.proto_wrapper_wrapper {
  background-color: white;
  margin: 0 auto;
}

.proto_wrapper {

  overflow: auto;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  background-color: white;
  margin: 0 auto;
}

.products_storyboard {
  /*display: none;*/
}

.products_immersive {
  display: none;
}

.products_app {
  display: none;
}

.products_immersive > .product {
  display: none;
}

.product_statement {
  text-align: center;
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

/** NEW **/
.pillars {
  overflow: auto;
  padding-bottom: 5px;
  /*padding: 20px 0 20px 0;*/
  /*box-shadow: 0 1px 5px #ccc;*/
  margin: 20px 0 5px 0;
}

.pillar_container {
  overflow: auto;
  width: 32%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  /*border-radius: 2px;*/
  background: white;
  line-height: 1em;
  cursor: pointer;
  /*box-shadow: 0px 5px 5px #aaa;*/
}

.pillar_container:hover {
  background-color: #FFCC00;
  box-shadow: 0 2px 5px grey;
}

.pillar_container_active {
  background-color: #FFCC00;
  box-shadow: 0 2px 5px grey;
}

.pillar .icon {
  /*float: left;*/
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.pillar .title {
  font-family: "ProximaNovaBold", "Arial", sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.pillar .description {
}

.row {
  overflow: auto;
  clear: both;
  width: 100%;
  padding: 10px 0;
}

/**/

.service_statement_container {
  background-color: white;
  padding: 10px 0 0 0;
}

.service_statement {
  text-align: center;
  background-color: #555;
  padding: 20px 80px;
  font-family: "ProximaNovaBold";
  color: white;
  /*border-radius: 5px;*/
  overflow: auto;
}

.service_statement_h1 {
  margin-bottom: 10px;
}

.service_statement_col {
  width: 33.33%;
  float: left;
  padding: 0 30px;
  box-sizing: border-box;
}

.service_container {
  overflow: auto;
  width: 33.33%;
  float: left;
  padding: 0px 20px;
  box-sizing: border-box;
  border-radius: 2px;
  background: white;
  line-height: 1em;
  cursor: pointer;

}

.service {
  padding: 10px;
  box-sizing: border-box;
  /*box-shadow: 0 5px 10px grey;*/
}

.service:hover {
  /*background-color: #54C2E8;*/
  /*box-shadow: 0 5px 10px grey;*/
}

.service .icon {
  margin-bottom: 10px;
  text-align: center;
}

.service .title {
  font-family: "ProximaNovaBold", "Arial", sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.service .description {
  font-size: 0.8em;
}

.service .description ul {
  padding-left: 20px;
  margin: 0;
  /*list-style: none;*/
}

.service .description ul li {
  margin: 0 0 5px 0;
}

.spacer {
  overflow: auto;
  width: 1%;
  height: 1vw;
  float: left;
}

.content {
  width: 100%;
  overflow: auto;
  /*height: 300px;*/
  border-radius: 2px;
  box-sizing: border-box;
  background-color: white;
  /*padding: 30px;*/
  /*box-shadow: 0px 2px 5px gray;*/
  margin-bottom: 20px;
}

.content_ui {
  display: none;
}

.content_ic {

}

.content_rp {
  display: none;
}

.offerings {
  text-align: center;
  padding: 10px;
  font-family: "ProximaNovaBold", sans-serif;
  color: white;
  background-color: black;
}

.uiservice_container {
  overflow: auto;
  width: 25%;
  float: left;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
  border-radius: 2px;
  background: white;
  line-height: 1em;
  cursor: pointer;
}

.uiservice {
  padding: 10px;
  box-sizing: border-box;
}

.uiservice .icon {
  margin-bottom: 10px;
  text-align: center;
}

.uiservice .title {
  font-family: "ProximaNovaBold", "Arial", sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.uiservice .subtitle {
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
}

.service .subtitle {
  font-size: 0.8em;
  margin-top: 10px;
  text-align: center;
}


.uiservice .description {
  font-size: 0.8em;
}

.uiservice .description ul {
  padding-left: 20px;
  /*list-style: none;*/
  margin: 0;
}

.uiservice .description ul li {
  margin: 5px 0;
}

.row_ui {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.row_ui_label {
  margin: 0 0 0 0;
  padding: 10px 0;
  background-color: black;
  color: white;
  font-family: "ProximaNovaBold", sans-serif;
}

.ui_col {
  width: 25%;
  float: left;
  text-align: center;
}

.row_label {
  margin: 0 0 0 0;
  padding: 10px 0;
  background-color: black;
  color: white;
  font-family: "ProximaNovaBold", sans-serif;
}

.label_col {
  width: 33.33%;
  float: left;
  text-align: center;
}

.row_border {
  border-bottom: 1px solid #ddd;
}

.helper {
  padding: 0 0 0 0;
  text-align: center;
}

.helper_text {
  /*border-right: 300px solid #FFCC00;*/
  box-sizing: border-box;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 1em;
  /*background-color: #54C2E8;*/
  color: grey;
  padding: 10px;
}

.get_quote {
  position: fixed;
  top: 90px;
  /*top: 0;*/
  right: 0;
  /*left: 5%;*/
  /*bottom: 0;*/
  border-radius: 5px 0 0 5px;
  /*border-radius: 15px 15px 0 0;*/
  background-color: #FFCC00;
  color: white;
  font-family: "ProximaNovaBold", sans-serif;
  padding: 8.5px 15px;
  height: 20px;
  cursor: pointer;
  /*opacity: 0.7;*/
}

.get_quote:hover {
  background-color: #54C2E8;
  opacity: 1;
  /*padding-right: 40px;*/
}

.rotate {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.values {
  overflow: auto;
  padding: 0 0px 15px 0;
}

.value_title {
  font-size: 1.3em;
  padding: 15px;
  background-color: #54C2E8;
  color: white;
  font-family: "ProximaNovaBold", sans-serif;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.value_description {
  text-align: center;
  padding: 20px;
}

.value {
  width: 20%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
  /*cursor: pointer;*/
}

.value_img {
  text-align: center;
}

.value_container {
  font-size: 1em;
  font-family: "ProximaNovaBold";
  background-color: #FFCC00;
  padding: 12px 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  text-align: center;
  /*box-shadow: 0px 4px 0 grey;*/
}

.value_subtext {
  padding: 10px 15px;
  font-size: 0.8em;
  background-color: #eee;
  /*border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;*/
  box-sizing: border-box;
  height: 100px;
}

.footer {
  text-align: left;
  padding: 10px 20px;
  background-color: #555;
  font-family: "ProximaNovaBold", sans-serif;
  color: white;
}

.footer a {
  color: white;
  font-size: 0.8em;
}

.yammer_logo {
  height: 15px;
}
