.slick-dots {
  position: absolute;
  bottom: -35px;
}

.header {
  overflow: auto;
  background-color: #eee;
}

.header > div {
  float: left;
  padding: 15px;
  font-weight: 800;
}

.banner_container {
  position: relative;
}

.banner_carousel {

  background-color: white;
}

.banner {
  height: 250px;
  background-color: #ddd;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner_title1 {
  color: white;
  font-size: 4em;
  font-weight: 800;
  line-height: 1em;
}

.banner_title2 {
  color: white;
  font-size: 2em;
  font-weight: 100;
  line-height: 1em;
}

.btn_hello {
  background-color: darkorange;
  padding: 15px 30px;
  width: 100px;
  text-align: center;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}

.banner_content {
  position: absolute;
  left: 200px;
  bottom: 30px;
}

.statement {
  text-align: center;
  padding: 20px 70px;
  background-color: white;
}

.services {
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.services_header {
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.5em;
}

.service {
  float: left;
  width: 33.33%;
}

.service_ui {
  padding-right: 5px;
  box-sizing: border-box;
}

.service_ic {
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.service_rp {
  padding-left: 5px;
  box-sizing: border-box;
}

.service_container {
  border: 1px solid gainsboro;
  box-sizing: border-box;
  height: 350px;
  text-align: center;
  padding: 20px;
  background-color: white;
  position: relative;
  box-shadow: 1px 1px 2px gainsboro;
  cursor: pointer;
}

.service_container_back {
  border: 1px solid gainsboro;
  box-sizing: border-box;
  height: 350px;
  text-align: center;
  padding: 20px 50px;
  background-color: white;
  position: relative;
  box-shadow: 1px 1px 2px gainsboro;
  cursor: pointer;
  display: none;
}

.service_back_item {
  display: none;
  text-align: left;
  margin: 10px 0;
  font-size: 0.8em;
  clear: both;
}

.service_back_offering {
  font-size: 0.8em;
  font-weight: bold;
}

.svc {
  min-height: 27px;
  padding-left: 40px;
  display: table;
}

.svc > div {
  display: table-cell;
  vertical-align: middle;
}

.svc1 {
  background-image: url('../img/svc1.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc2 {
  background-image: url('../img/svc2.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc3 {
  background-image: url('../img/svc3.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc4 {
  background-image: url('../img/svc4.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc5 {
  background-image: url('../img/svc5.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc6 {
  background-image: url('../img/svc6.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc7 {
  background-image: url('../img/svc7.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc8 {
  background-image: url('../img/svc8.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc9 {
  background-image: url('../img/svc9.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc10 {
  background-image: url('../img/svc10.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.svc_logo {
  padding: 8px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 700;
}

.service_title {
  padding: 8px;
  font-size: 1.2em;
}

.service_description {
  padding: 8px;
  line-height: 1.5em;
}

.service_learnmore {
  text-align: center;
  font-size: 0.8em;
  color: #C30;
  font-weight: 800;
}

.interlock {
  padding: 20px;
  /*overflow: auto;*/
  box-sizing: border-box;
}

.interlock_title {
  text-align: center;
  padding: 8px;
  font-size: 1.5em;
}

.interlock_description {
  text-align: center;
  padding: 8px 50px;
}

.interlock_diagram_full {
  height: 350px;
  background-image: url('../img/interlock_full.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.interlock_diagram_partial {
  height: 350px;
  background-image: url('../img/interlock_partial.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.interlock_diagram_isolation {
  height: 350px;
  background-image: url('../img/interlock_isolation.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.case_studies {
  padding: 20px;
  text-align: center;
  overflow: auto;
  background-color: white;
}

.cs_title {
  padding: 8px;
  font-size: 1.5em;
}

.cs {
  float: left;
  width: 33.33%;
  padding: 30px;
  box-sizing: border-box;
}

.cs_box {
  height: 250px;
  /*background-color: white;*/
  box-sizing: border-box;
  border-top: 5px;
  border-bottom: 30px;
  border-left: 5px;
  border-right: 5px;
  border-color: #dddde6;
  border-style: solid;
  border-radius: 5px;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cs_desc {
  padding: 10px;
}

.footer {
  height: 40px;
  background-color: #555;
}

/** SERVICE SECTION CSS **/
.service_section_title {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  background-color: white;
  /*background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;*/
  /*padding: 20px 20px 20px 20px;*/
  padding: 20px 20px 0 20px;
  color: black;
  /*text-transform: uppercase;*/
}

.rp_item {
  width: 33.33%;
  float: left;
}

.prototypes {
  /*width: 99.99%;*/
  overflow: auto;
  background-color: white;
  /*margin: 0 20px;*/
}

.proto_container {
  box-sizing: border-box;
  /*border-radius: 5px 5px 0 0;*/
  /*border-radius: 5px;*/
  text-align: center;
  padding: 10px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.proto_container_active {
  border: none;
  box-sizing: border-box;
  text-align: center;
  background-color: #FC0;
  position: relative;
  cursor: pointer;
}

.products {
  width: 99.99%;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  overflow: auto;
  /*margin: 0 20px;*/
  background-color: white;
  min-height: 250px;
}

.product {
  float: left;
  width: 33.33%;
}

.product_container {
  box-sizing: border-box;
  min-height: 250px;
  text-align: center;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.product_ul {
  text-align: left;
}

.product_ul > li {
  margin-bottom: 5px;
}

.proto_description {
  /*padding: 8px;*/
  font-weight: bold;
}

.proto_wrapper_wrapper {
  background-color: white;
  margin: 0 auto;
}

.proto_wrapper {

  overflow: auto;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  background-color: white;
  margin: 0 auto;
}

.products_storyboard {
  /*display: none;*/
}

.products_immersive {
  display: none;
}

.products_app {
  display: none;
}

.products_immersive > .product {
  /*display: none;*/
}

.product_statement {
  text-align: center;
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
}
